@mixin color_button {
    padding: 0.8em;
    border-radius: 5em;
    background-color: var(--blogtube_primary_variant_much_brighter);
    text-decoration: none;
    display: flex;
    color: black;
    cursor: pointer;

    &:hover {
        background-color: rgb(41, 41, 41);
    }
}

@mixin button {
    border-radius: 4px;
    padding: 0.8em 1.2em;
    background-color: black;
    border: solid 1px gray;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
    color: rgb(177, 177, 177);
    cursor: pointer;

    &:hover {
        background-color: rgb(41, 41, 41);
    }
}

@mixin pagination_page_number {
    border-radius: 4px;
    padding: 0.8em 1.2em;
    background: black;
    border: solid 1px gray;
    white-space: nowrap;
    user-select: none;
}