@mixin color_button {
    padding: 0.8em;
    border-radius: 5em;
    background-color: var(--blogtube_primary_color);
    text-decoration: none;
    display: flex;
    color: black;
    cursor: pointer;

    &:hover {
        background-color: rgb(41, 41, 41);
    }

    a {
        color: var(--blogtube_font_color);
        text-decoration: none;
    }
}

@mixin button {
    border-radius: 4px;
    padding: 0.8em 1.2em;
    background-color: black;
    border: solid 1px gray;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
    color: rgb(177, 177, 177);
    cursor: pointer;

    &:hover {
        background-color: rgb(41, 41, 41);
    }
}

@mixin pagination_page_number {
    border-radius: 4px;
    padding: 0.8em 1.2em;
    background: black;
    border: solid 1px gray;
    white-space: nowrap;
    user-select: none;
}

@mixin tag {
    height: 32px;
    border-radius: 8px;
    background-color: #ffffff1a;
    display: flex;
    align-items: stretch;
    transition: background-color .5s cubic-bezier(.05, 0, 0, 1);

    a {
        color: var(--blogtube_font_color);
        min-width: 12px;
        text-decoration: none;
        padding: 0 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 1.4rem;
    }

    &:hover {
        background-color: #ffffff33;
    }
}