.page-template-default {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8em;

    main {
        margin-top: 0;
        padding-left: clamp(0em, 2vw, 1.2em);
        max-width: var(--blogtube_maximum_width_of_pages);

        @media only screen and (min-width: 1000px) {
            min-width: unset;
        }

        .blogtube_user_content_container {
            border-radius: 12px;
            background-color: var(--blogtube_background_color_pages);
        }
    }
}