.page-template-default {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 8em;

    main {
        margin-top: 0;
        padding-left: clamp(0em, 2vw, 1.2em);
        max-width: 100em;
    }

    .blogtube_content_spacer {
        align-items: unset;
    }
}